html {
    background-image: url('http://www.fedmsg.com/en/latest/_static/fedmsg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size:20%;

    height: 100%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16pt;
}
* {
        margin: 0;
        target-new: tab ! important
}
html, body {
}
li { 
    list-style-type: none;
}
tt {
    color: #3c3c3c;
    font-size: 19pt;
}

p {
    font-size: 135%;
    padding: 15px;
}

img {
    margin-left: -100px;
}
.highlight.code.text {
    font-size: 80%;
    color: gray;
}

.highlight.code {
    color: gray;
    font-weight: bold;
    padding-left: 20px;
    border-left: 1px dashed gray;
    margin-top: 40px;
}
h2 {
    margin-top: -12px;
    padding-left: 40px;
}

pre.highlight span {
    color: rgb(102, 102, 102);
}
pre.highlight span.o {
    color: rgb(208, 26, 85);
}

a {
    border-radius: 3px 3px 3px 3px;
    color: #D01A55;
    padding: 0 2px;
    text-decoration: none;
    outline: 0;
}

a:hover {
    background: none repeat scroll 0 0 #FCB3D0;
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

p, ul, li {
    margin:10px;
}
