html {
    background-image: url('https://fedoraproject.org/w/uploads/2/2d/Logo_fedoralogo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size:20%;

    height: 100%;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16pt;
}
* {
        margin: 0;
        target-new: tab ! important
}
html, body {
}
li { list-style-type: none; }

tt {
    inline-height: 1em;
    font-size: 90%;
    color: #3c6eb4;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: #F5F3F4;
    border-radius: 4px;
    padding: 2px 4px;
}
.highlight.code.text {
    //font-size: 80%;
    color: gray;
}

.highlight.code {
    color: gray;
    font-weight: bold;
    padding-left: 20px;
    border-left: 1px dashed gray;
    margin-top: 40px;
}
h2 {
    margin-top: -8px;
    padding-left: 40px;
}

pre.highlight span {
    color: rgb(102, 102, 102);
}
pre.highlight span.o {
    color: rgb(208, 26, 85);
}

a {
    border-radius: 3px 3px 3px 3px;
    color: #3c6eb4;
    padding: 0 2px;
    text-decoration: none;
    outline: 0;
}

a:hover {
    background: none repeat scroll 0 0 #294172;
    color: #dedede;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

p, ul, li {
    margin:10px;
}
