*.swp
gpg/
fedmsg
gitflow
fedmsg-flock13
fedmsg-flock14
rube-flock14
hfoss-lecture-2013-10-21
fedmsg-devconf14
stdlib/abc/
stdlib/atexit/
stdlib/contextlib/
stdlib/example.py*
stdlib/inspect/
stdlib/itertools/
stdlib/functools/
stdlib/timeit/
debt-services-flock15
